*,
*::before,
*::after {box-sizing: border-box;margin: 0;padding: 0;border:0;}
body {overflow-y: hidden; height: 100vh; font-size: 12px; font-family: 'Open Sans', sans-serif; color: #333;min-height: 100vh;scroll-behavior: smooth;text-rendering: optimizeSpeed;line-height: 1.5;}
ul[class],ol[class] {list-style: none;}
input:focus{outline: 0;}
:root {
    --bg-color: #f0f4fa;
    --icon-color: #4a779b;
}
.wrapper {

    display: flex;
    flex: 1 0;
}

*.hide {
    display: none;
}

.text-hide {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popup {
    background-color: rgba(26, 26, 26, 0.639);
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}
.popup.hide{
    display: none;
}


.popup form {
    background-color: #f3f3f3;
    width: 500px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
}

.popup input, select{
    padding: 3px;
    border: 1px solid #b8b8b8;
}

.popup-item-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

.submit-wrapper{
    background-color: rgb(68, 80, 107);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 40px;
}

.js-submit-btn{
    background-color: rgb(77, 163, 255);
}

.js-cancel-btn{
    background-color: inherit;
    border: 1px solid rgb(68, 80, 107);
    transition: .1s all ease;
}
.js-cancel-btn:hover{
    border: 1px solid rgb(174, 1, 1) ;
    color:rgb(174, 1, 1)  ;
}

.pupup_btn{
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.popup-header{
    background-color: rgb(68, 80, 107);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-header h3{
    color: #fff;
    padding: 5px 0;
    font-weight: 500;
}

.js-for-valid.js-red {
    border: 2px solid #ff0000;
}
/*COMMON STYLES*/
/*COMMON STYLES*/
/*COMMON STYLES*/



.line {
    position: sticky;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3px;
    background-color: #96b4d6;
    z-index: 2;
}

.line__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px 5px;

    width: 20px;
    height: 13px;

    color: var(--icon-color);
    background-color: #96b4d6;
    font-size: 10px;
    transform: translate(-50%, -50%);
    transition: .2s all ease;
}

.line__item:hover {
    background-color: #6995bf;
    cursor: pointer;
}

.fa-thumbtack {
    transform: rotate(35deg);
}

.header {
    position: sticky;
    background-color: var(--bg-color);
    z-index: 1;
    font-size: 20px;
}

.header h3 {
    max-width: 350px;
}

.footer {
    background-color: #434f5b;
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    bottom: 10px;
    border-radius: 10px;
    height: 50px;
    z-index: 3;
}
.footer__createBtn, .footer__deleteBtn {
    background-color: initial;
    border: 1px solid;
    border-radius: 4px;
    height: 30px;
    margin: 0 10px;
    padding: 0 5px;
    cursor: pointer ;
}
.footer__createBtn:hover {
    background-color: rgba( 255, 255, 255, 0.2) ;
}
.footer__deleteBtn:hover {
    background-color: rgba( 229, 39, 39, 0.2) ;
}
.footer__createBtn {
    color: #fff;
    border-color: #fff;
}
.footer__deleteBtn {
    color: #e52727;
    border-color: #e52727;
}
.footer i {
    padding: 5px;
}
/*MASTER STYLE LIST*/
/*MASTER STYLE LIST*/
/*MASTER STYLE LIST*/

.master {
    position: relative;
    max-height: 100vh;

    transition: .5s all linear;
    overflow-y: auto;
    flex: 0 0 350px;
    border-right: 1px solid #333;
}

.master .line {
    top: 48px;
}

.master__header {
    padding-left: 20px;
    padding-top: 5px;
    height: 3rem;
    width: 100%;
    top: 0;
}
.master__searchField {
    height: 3rem;
    background-color: var(--bg-color);
}
.master__searchField-inner {
    position: relative;
    display: flex;
    margin: 0 0.75rem;
    height: 55%;
    border: 2px solid #b8b8b8;
    background: #fff;
    align-items: center;
}
.searchField-inner{
    border-color: #838383;
}

.master__searchField i {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25px;
    color: var(--icon-color)
}
.master__searchField .fa-search {
    right: 1.5rem;
}
.master__searchField .fa-sync {
    right: 0;
}
.master__searchField  i:hover {
    cursor: pointer;
    background-color: #e5e5e5;
}

.master__searchField input {
    margin-left: 0.8rem;
    width: 80%;
    padding-left: 5px;
}
.master__searchField input:focus {
    outline: 0;
}

.view-box__list {
    padding-bottom: 75px;
}
.list-item__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
    font-size: 18px;
   
}
.list-item__address {
    padding-top: 10px;
}
.square__number {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.square__meters {
    font-size: 12px;
    flex: 1;
}


.list-item__name {
    flex: 1;
    display: block;
    max-width: 70%;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.list-item__square {
    
    text-align: right;
    width: 100px;
    position: relative;
    
    
}

.list-item {
    transition: 0.2s all linear;
    cursor: pointer;
    border-bottom: .5px solid #efefef;
    padding: 15px;
}

.list-item.active {
    background-color: #efefef;
}

.list-item:hover {
    transition: 0.2s all linear;
    background-color: #efefef;
}

.master__footer {
    width: 320px;
    left: .5%;
}

/*DETAIL STYLE LIST*/
/*DETAIL STYLE LIST*/
/*DETAIL STYLE LIST*/

.detail {
    position: relative;
    width:77%;
    height: 100vh;
    box-sizing: content-box;
    flex: 1 1 auto;
}

.detail__empty-wrapper {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;

    transform: translateY(-50%);
}

.fa-store {
    font-size: 150px;
    color:rgb(155, 152, 152);
    padding-bottom: 20px;
}

.detail__empty-wrapper h3 {
    font-size: 30px;
}

.detail__empty-wrapper span {
    font-size: 20px;
} 

.detail__header-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.detail__header-wrapper.hide {
    display: none;
}

.detail__header {
    display: block;
    top: 0;
    width: 100%;
    padding: 10px 15px;
}
.detail__header.hide {
    display: none;
}


.detail .line {
    top: 54px;
}

.detail__contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-bottom: 1rem;
    background-color: var(--bg-color);
    max-height: 4rem;
}

.contacts-item {
    max-width: 250px;
    word-wrap: break-word;
    padding: 0 5px;
}
.contacts-item__label {
    font-weight: 700;
}
.detail__filter {
    display: flex;
    width: 100%;
    background-color: var(--bg-color);
    border-bottom: 4px solid #96b4d6;
    padding: 20px 15px ;
}
.filter__item {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100px;
}
.filter__item.active:after {
    content: '';
    display: block;
    position: absolute;
    right: -10%;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #b3b3b3;
}

.filter__item.active:not(.filter__item--all)::after {
    right: -35%;
}

.filter__item.active:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -45%;
    left: 0;
    border-bottom: 4px solid #132594;
}

.filter__item--ok.active::before{
    border-bottom: 4px solid #1f731f;
}

.filter__item--storage,
.filter__item--outOfStock,
.filter__item--ok {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    width: 61px;
    height: 60px;
    border-radius: 1000px;
    border: 2px solid ;
    padding: 10px 0;
    

}

.filter .fas, .filter .far {
    font-size: 34px;
}

.filter__item--number {
    font-size: 26px;
    margin: 10px;
}

.filter__item--all {
    justify-content: center;
    height: 58px;
    font-size: initial;
}

.filter__item--ok {
    color: #1f731f;
    border-color: #1f731f
}
 
.filter__item--ok.active::before {
    border-bottom: 4px solid #1f731f;
}
.filter__item--storage {
    color: #f5d83d;
    border-color: #f5d83d;
}

.filter__item--storage.active::before {
    border-bottom: 4px solid #f5d83d;
}
.filter__item--outOfStock {
    color: #ae0505;
    border-color: #ae0505;
}

.filter__item--outOfStock.active::before{
    border-bottom: 4px solid #ae0505;
}

.filter__item .filter__lable {
    position: absolute;
    text-align: center;
    width: 120%;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: initial;
}


.filter__item--counter {
    position: absolute;
    top: -17%;
    right: -26%;
    color: initial;
}

.detail__searhField {
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid #b8b8b8;
    background-color: #f7f7f7;
    padding: 15px;
}

.detail__searchField-inner {
    background-color: #fff;
    border: 1px solid;
}

.detail__searhField input {
    padding-left: 10px;
}

.detail__searchField-inner i{
    height: 100%;
    color: var(--icon-color);
    padding-right: 10px;
    cursor: pointer;
   
}

.fa-exchange-alt{
    transform: rotate(90deg);
    color: var(--icon-color);
    padding: 3px;
    float: left;
    cursor: pointer;
}

.detail__content {
    padding-bottom: 135px;
  
}
.detail__table {
     table-layout: fixed;
     width: 100%;
     border-spacing:0;
     border-collapse: collapse; 
}

 
.thead { 
    position: sticky; 
    top: 50px; 
    z-index: 1;
    background-color: #f7f7f7;
   
}

.detail__table th, .detail__table td {
    padding: 10px;
    text-align: left;
    font-weight: initial;
}

tr.thead__row {
    border-bottom: 1px solid #cfcfcf;
}
.detail__table tr:not(.thead__row) {
    cursor: pointer;
    transition: .2s all linear;
}

.detail__table tr:hover {
    background-color: #f7f7f7;
}



.detail__table .table__name--text {
    position: relative;
    width: 20%;
}

.table__name--text p {
    padding: 5px 0;
}

.table__price--text span {
    padding-right: 4px;
    font-weight: 700;
}

.rating {
    font-size: 20px;
    color: rgb(255, 196, 0);
}

.detail__table .table__price,
.detail__table .table__price--text {
    text-align: right;
}
.table__price{
    display: flex;
    justify-content: end;
    min-height: 100%;
}

.detail__footer {
    position: absolute;
    right: 20px;
    display: flex;
    width: 97%;
}

.detail__footer.hide {
    display: none;
}

.table-chevron *{
    
    padding: 5px;

}

@media (max-width: 960px) {
    .detail {
         width: 100vw;
         height: 100vh;
    }

    .detail__footer {
        position: fixed;
        bottom: 0;
        width: 97%;
        left: 1%;
    }

    .master:not(.active) {
        display: none;
    }
}

/*


                                    .:AMMMMMMMMMMA:.
                                  .AMMMMMMMMMMMHMMMMA.
                                 AMMMMMMMMMMMMMHMMMMMA
                                :MMMMMMMMMMMHMHHHHMMMMA.
                                AMMMMIIIIIIIIIIIIIIIIIMA.
                               :MMMMIIIIII:.... ..IIIIIMA
                               AHMMIIIIII::....   .:)IIMM
                               MMMMIIIIIII::....   /..:MM
                               MMMVIIIIII:::...   /...:MM
                               VMHIIIIIII:::.      ...:MM
                               :HHII::mMMMMm:.....mmm.IMM
                               IIHI::::YIMIbHI :dIMIIP:MI
                               IIIII:::::::.II :.::::..:I
                               `IIII::::::.:II :.   ..::V
                                VIIII:::::::II :......:A'
                                `III:I:::::IHIII:  ..::V
                                 VI::::::::::i.  . .::A
                                 `II:::::.md888bm.:.::V
                                  :IH::::::Y888P:..::A'
                                  AIH\:::::::.  ..:::V
                                 .MIIIH::::::.....::V
                               .A::IIIIIIIIIIIIIIV.V
                             .:M:::I:IIIIIII:::::...M
                          .:I:::..II::III:::::::....:A.
                      .:A::...    I::::::::::::.....:. A:.
                    AI:.....     .:::::::::::::.....::    A:.
                 .:V:.......    ....::..:....::.....:... ....A:.
               .AMII::::::::::.:::..:::... .....   .............A.
             .A:::::......  ..:.::.....::... ...:::::. ..:::::::::A.
            AII::.......  ..::.:.....  . ::......:      .... .......A:.
          .AIII:::...     ::.......  ....  :...  ..::    ....... ....::A.
         .MIIII:::..     ::............... .:... ....::..:......   ....::A
         AIIIIII:::.....I:..................  :      ............      ::IA
        :MIIIII::::::::I:::::..............    ...................   .:::IIA
        AHIIIIIII:::::H:::::................. :......................::::IIM:
        MHIIIIIII:::IHII:::::...   .......  . ....................:::::::IIM
       :MMHIIIIIIIIIMHII::::::...       ..... ... ... .............::::IIIIV
       AMMHHIIIIIHIMHHHIII::::::....      ... :..      .. .......::::IIIIIA:
      AHHHHHHHHIIIIMHHHHIIIII:::::....     .. ....          ....::::HIIIIIM'
     AHHHHHHIII::IIMHHHHHIIIIII:::::....  ..  ::..          .....:HHIIIIIIM
    :MHHHHHHHI:::IMHHHHHHIMMIIIII:::::::....  :....        ....::HHIIIIIIIV:
    AHHHHIIHHII::IMHHHHHIMMoMIIIIIH:::::    :    ........:::.::HHIHH:IIIIIIA
   :MHHHIIIIIIIIIIM:IHHHIHMMMIHHIIHHA:::... ::::.   ::.::::HHoIHHHIIIIIIIIIV:
   AHHIIIIIIIIIIIIAAIIHHHHHHHHHHIII::::::     .   ...::::IIIHHHHH:IIIIIIIIIIA
  AHIHIIIIIIIIIIIV  VIIIHHHHHHIIIIH::::::  ..:::.    ::IIIIIIIAII:IIIIIIIIIIM
 A:HIIIIIIIIIIIMV   `AII:IHHHIHIIIHHAm:::::::::::::::IIIIIIIIIHA:::IIIII:IIIM
 I:IIIIIIIIIIMV'     V:::IHIIH::III::::    .::::: ::::::::::::M V::IIIIIIIIIM
 I:IIII:::HIM'        V::IHHIH::HII::::::..:.::.    ::::..::IIM  V::IIIIIIIIV.
 V:III:...:IM         `A:IHHHHmIHIHHAm::.....::.. .:::.:::::::V   V:IIIIIHIIIA
 :M:II::....:A         V:IIHH:HIIIHHV::::::.:::.:::::.::I::::A'    AIIHHHIIIIM
  V:IIII:....:A        `A:IHH:HIIIII:::     ::::::::::::I::::V     MHHIIIIIIIM
  :MIIII:::...:A        V:IHHmIIIIIIA:::.. ...:    :::::I.IIA'     MHIIIIIIIIM
   VIIIIII::...:A       `AIHII:IIIIHHAm:::..::..    .::I::::M      MIIIIIIIIIV
    V:IIII:::...:A       MHHIHmHIIIIIV:::..HHH:::...:::I:..IV.    .VIIIIIIIIA'
     VIIII:I:::..:A      MIIHH:HIIIII::::.IMCMI.....:::I:...:A    AIIIIIIIIIM
      VIIII::::::::b    .VIH:::HIIIIA:::::.::::.....:..:I...:M    MIIIIIIIIIV
       `VIII::I.::::b   AIIH::::HIIIIHA::::::::.....I..:I...:M    M:IIIIIIIA:
         VIII:::::::M:. M\IH::\::HIIIIH:::::I::::...I:::I::::M    MIIIIIIIIM'
          VIII:::::I:HI:HI:::::II:HIIHV::I:::::::::I::::::.::M    V:IIIIIIIM
           `VII::I::IV::VIA::::.I:HIIH::::I:I::::::::::I...::M  .AIIIIIIIIIV
             VII:::V::::::VA::...I::IHHA:I:::I::::::::::....:MMA..::.:IIIIV
             `VI:I::::::....MA:...I::HV::I:::::::::::::I ...A.  . ..:.IIIV
               MIII::..:::....A....I::::::::.:::::::::I. . A:M8M....::IAV
               HIII:::../M8A:.M... .I:::::::::::::::::. .:AMMIV...V.::V'
               MI:I.....MMM88MMA:.  :I:I::::::::::.::::AMM88MV..AV..:A'
               V:II::::.M::MMM88MMMA:.IIIII::::::::AMMM888V'..:M...V:V
               `MII:::::M:::.`VM8888MMMMMMMMMMMMMMM8VK88V'...AV...V.:'
                VIMI:V:::A::...`VM888888888888888888968V . AV.A..V..V
                `MM::A`V: A:.... `VM88888888888888888MV  WV  A. V:VA'
                 VHM.:A:V: A....  .`VM88888888888888V'.     A:.V:V:M
                 `MM\.:A:V::A.. .....VM888888888888V..     A::V:V. V
                  VIM:.IA:`WW.........VM8888888888V....  . WW:.V :V
                  `MHM.HIW:::..........VMM8888888M'........ WMVWWV
                   `VIM.IW:::...........VMMM88888V:............IM
                    `MIMII:::............VMMMM88V:::...........:M
                     M:II:::::............VMMMMVI::::.........::M
                     M::::::.... ....:.:::.MMMV:::::::.........:M
                     M::I::::... .....:::::MMIII:::::::.......::M
                     MIII:::....  ...::::::MIIII::::::::.:.:..::V
                     MII:::::... ..::::::::MHIIII::::::::...:.:A:
                     MIII:::.... ...:::::::MHII::I::..:::::::::M'
                     MII::::::.  ..::::::::MIIIIIIII:..::::::::M
                     MII::::::.  ..::::::::MIIIIIIII:.:::::::::M
                     MIII:::::.  ...:::::::MIIIII:III::::::::::V
                     MII::::::.  ...:::::::MIIIIIIIII:::::::::A:
                     MII::::::.  .:.:::::::MHIIIIII:::::::::::M'
                     MII:::::::.  :.:::::::MHHIIII:I::::::::::M
                     MIII::::::.  :.::::I::MHHIIIII::::::::::A:
                     VII::::::::  ..::::::MHHHHIIII::::::::I:M'
                     :AII:::::::. .::::::V MHHHIIII:::::II::IV
                     :MI::::::::. ..::::V  MHHHIII:::::III:IA:
                     :MI::::::::: ..:::A'  MHHHIIII::IIIII:IM'
                      VII::::::::  ::::M   MHHHIIIIIIIIIIIIIV
                      :AI::::::::  ::::M  :VHHHIIIIIIIIIIIIA'
                      :MI::::::::. ::::M  AHHHHIIIIIIIIIIIIV
                       MI::::::::. ::::V  MHHHHIII::IIIIIHV
                       MI:I::::::..:::A'  MHHHHIII:::::IIA'
                       MIH::::..::::::V  :VHHHHIII:::::IIV
                       MIHI:::..::::IA'  AHHHHHHII:::IIIA'
                       MIHI:::. :::HHM   MIIHHHHII:::I:IM
                      .VIIH::::::HHHIV   VIIIHHHIIH:::HIV
                      AIIIIH::::HHH:A'   :AIIHHIIIIHHHIA'
                     .VIIIIHHHIHHHIIV    `MIIIHIIIIIIIIV
                     AHIIIIIHHHHHHIA'     MHHIIHHIIIIIA'
                    .VHIIIIIIIHHH:IM      VHHHIIHHIIIIM
                    AIHIIIIIIIIIHIIM      :AHHIIIHHIIIV.
                   AIIHIIIIIIIIIIHIM      `MHHIIIIIIIIIA
                  .VIIHIIIIIIIIIHIIV:     .VHIIIIII:I:IM
                  AIIIIIIIIIIIIHIIIIA     AHHIIII:::I::M
                  MIIIIIIIIIIIHIIIIIM    .VHIHIII:I:I::M:
                  VIIIIIIIIIIHIIIIIIM    AHIIIHIII:::::V:
                  :AIIIIIIIIIIIIIIIIM   .VIIIIIHI::::::MA
                  `MIIIIIIIIIIIIIIHA'   AIIIIIIHI:::::IMV
                   VIIIIIIIIIIIIHHHV    MHIIII:II.:::IIA:
                   `VIIIIIIIIIIHHHV     MHIIIIIII.:::IIM
                    :AIIIIIIIIHHHM'     MHHIII:II::II:IM
                     MIIIIIIHHHHHV      MHHIII:II::IIIIV
                     MIIIIIIHHHHV       VAHIII:I:::IIIA:
                     VHIIIIIIHHA'       :MHII::I:::IIIM
                     :AIIIIIIHHM         MHI::II:IIIIIM
                     `MHIIIIIIIM         MHII:I::IIIIIV
                      MIIIIIIIIM         MHII:I:::IIIA'
                      VHHIIIIIIM         MHII:I:II:IIV
                      :AIIIIIIIM         MHII.I::IIIV
                      `MIIIIIIIM         MHII:I:IIIA
                       MHIIIIIIM         MHHII::IIIV
                       MHIIIIIIV.        MHH:I::IIV
                       MHHII:IIIA        MHI:I:IIA'
                       MHHIIIIIIM        MHI:::IIV
                       MHHIIIIIIM       :VI::::IA'
                       MHHIIIIIIM       AMM::::IV
                      .VII:::::IM       MHII:::IM
                      AI:I::::IIM      .VIII:::IV
                     AIIII::::IIM      AHIII:::::A
                     MIIII::::::V     .VHIII:::::V.
                     MII:::::::A'     AHHIII::::::A.
                    .V:I:::::IIM      VHHII:I:::::::A.
                    AI:I:II:::IM       VAHIIII:::.:::A.
                   .M:::::::::IM        `"VAHIII:.:::::A.
                   M.....::I:::M            `"VAI:::.:::VMA.
                   VA.......:::V:              `VMI::..:::VA)
                   `M.Q.Q.Q./..:D               `VM:::::D:::D)
                     V(E(E(EIIMD                   `VMIID)MD)


*/